
.rounded-circle-logo-span {
    color: white;
    background-color: rgb(19, 94, 124);
    border-radius: 50%;
    padding:10px 10px;
    font-weight: 600;
    margin-top: -30px;
    margin-left: -30px;
}

