
.navbar-brand{
    font-weight: 600;
    color: rgb(19, 94, 124) !important;
}

.rounded-circle-logo {
    color: white;
    background-color: rgb(19, 94, 124);
    border-radius: 50%;
    padding: 6px 8px;
    font-weight: 450;
} 

div ul li .active {
    color: rgb(19, 94, 124) !important;
    height: 100% !important;
}

.search{
    border-radius: 20px;
    padding: 3px 10px;
    outline: none;
}

.btn:focus{
    box-shadow: none !important;
    outline: none !important;
}

.search:focus{
    box-shadow: none;
    outline: none;
}

.card{
    border-radius: 0 !important;
    border: none;
}

.card-header{
    background-color: rgb(10, 76, 102);
    color: #fff;
    border-radius: 0 !important;
}


.section-colour {
    background-color: rgb(45, 116, 163);
    background: linear-gradient(9deg, rgb(19, 94, 124) 0%, rgb(45, 116, 163) 100%);
    height: 250px;
}

.page-body{
    margin-top: -150px;
}